#map {
height: 580px;
width: 50%
}

.ui-widget-content {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    padding-left : 50px;
    border-style: solid;
 }
.wrapper {
    display: flex;
    align-items: center;
}